.custom-card {
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: color 0.6s ease-in;
}

.custom-card-overlay {
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    background: #A1887F;
    height: 220px;
    width: 30px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.25s ease-out;

}

.custom-card:hover .custom-card-overlay {
    transform: scale(40);
}

.custom-card:hover {
    color: #ffffff;
}

.custom-card .v-card-text {
    z-index: 1;
    position: relative;
}

.custom-card .v-card-title {
    z-index: 1;
    position: relative;
}

/* features {cards make part of this section} */

@media only screen and (max-width: 1399px) {
    .features {
        margin-top: 100px;
    }
}